html, body {
    background-color: #FAFAFA
}

table {
    border: 2px solid #000000;
}

.content {
    max-width: 425px;
    margin: auto;
}

td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;  
}

input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    //width: 3.4375vw;
    //height: 7.612456747404845vh;
    font-size: 3.8062283737024223vh;
    width: 2em;
    height: 2em;
    background-color: #FFFFFF;
    outline: none;
}

input:disabled {
    background-color: #EEEEEE;
}

[id="0"], [id="1"], [id="2"] { border-top:    2px solid #000000; }
[id="2"], [id="11"], [id="20"] { border-right:  2px solid #000000; }
[id="18"], [id="19"], [id="20"] { border-bottom: 2px solid #000000; }
[id="0"], [id="9"], [id="18"] { border-left:   2px solid #000000; }

[id="3"], [id="4"], [id="5"] { border-top:    2px solid #000000; }
[id="5"], [id="14"], [id="23"] { border-right:  2px solid #000000; }
[id="21"], [id="22"], [id="23"] { border-bottom: 2px solid #000000; }
[id="3"], [id="12"], [id="21"] { border-left:   2px solid #000000; }

[id="6"], [id="7"], [id="8"] { border-top:    2px solid #000000; }
[id="8"], [id="17"], [id="26"] { border-right:  2px solid #000000; }
[id="24"], [id="25"], [id="26"] { border-bottom: 2px solid #000000; }
[id="6"], [id="15"], [id="24"] { border-left:   2px solid #000000; }

[id="27"], [id="28"], [id="29"] { border-top:    2px solid #000000; }
[id="29"], [id="38"], [id="47"] { border-right:  2px solid #000000; }
[id="45"], [id="46"], [id="47"] { border-bottom: 2px solid #000000; }
[id="27"], [id="36"], [id="45"] { border-left:   2px solid #000000; }

[id="30"], [id="31"], [id="32"] { border-top:    2px solid #000000; }
[id="32"], [id="41"], [id="50"] { border-right:  2px solid #000000; }
[id="48"], [id="49"], [id="50"] { border-bottom: 2px solid #000000; }
[id="30"], [id="39"], [id="48"] { border-left:   2px solid #000000; }

[id="33"], [id="34"], [id="35"] { border-top:    2px solid #000000; }
[id="35"], [id="44"], [id="53"] { border-right:  2px solid #000000; }
[id="51"], [id="52"], [id="53"] { border-bottom: 2px solid #000000; }
[id="33"], [id="42"], [id="51"] { border-left:   2px solid #000000; }

[id="54"], [id="55"], [id="56"] { border-top:    2px solid #000000; }
[id="56"], [id="65"], [id="74"] { border-right:  2px solid #000000; }
[id="72"], [id="73"], [id="74"] { border-bottom: 2px solid #000000; }
[id="54"], [id="63"], [id="72"] { border-left:   2px solid #000000; }

[id="57"], [id="58"], [id="59"] { border-top:    2px solid #000000; }
[id="59"], [id="68"], [id="77"] { border-right:  2px solid #000000; }
[id="75"], [id="76"], [id="77"] { border-bottom: 2px solid #000000; }
[id="57"], [id="66"], [id="75"] { border-left:   2px solid #000000; }

[id="60"], [id="61"], [id="62"] { border-top:    2px solid #000000; }
[id="62"], [id="71"], [id="80"] { border-right:  2px solid #000000; }
[id="78"], [id="79"], [id="80"] { border-bottom: 2px solid #000000; }
[id="60"], [id="69"], [id="78"] { border-left:   2px solid #000000; }