<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> 
<div class="container content">
  <table id="grid">
    <tr *ngFor="let row of board_cells; let row_idx = index">
      <td *ngFor="let cell of row; let col_idx = index">
        <ng-container *ngIf="cell != 0; then normal_cell; else empty_cell"></ng-container>
        <ng-template #normal_cell>
          <input [id]="row_idx * board_size + col_idx" type="text" [value]="cell" disabled>
        </ng-template>
        <ng-template #empty_cell>
          <input [id]="row_idx * board_size + col_idx" type="text" maxlength="1" (keyup)="onInputChange($event)">
        </ng-template>
      </td>
    </tr>
  </table>
</div>
<hr>
<app-sudoku-input-bar (input)="onInput($event)"></app-sudoku-input-bar>