<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../../assets/icon.png" width="20" height="20" class="d-inline-block align-top" alt="">
        {{ title }}
    </a>
  
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <button class="btn btn-sm btn-light" type="button" (click)="onNewGame()">
                New Game
            </button>
            <button class="btn btn-sm btn-light" type="button" (click)="onClearBoard()">
                Clear Board
            </button>
        </ul>
    </div>

    <a style="margin-right: 30px;">An angular open source sudoku game</a>
</nav>