
<div class="container content">
    <div class="row">
        <button *ngFor="let num of numbers" [id]="num" 
        class="btn btn-secondary" (click)="onClick($event)" 
        onmousedown="event.preventDefault()"
        >{{ num }}</button>
    </div>
</div>